@page
@inject IHtmlLocalizer<AuditLoggingResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Syrna.AuditLogging.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Card
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Syrna.AuditLogging.Web.Pages.AuditLogging.AuditLogs.AuditLog.DetailModalModel
@{
    Layout = null;
}
<abp-modal size="ExtraLarge">
    <abp-modal-header title="@L["Detail"].Value"></abp-modal-header>
    <abp-modal-body>
        <span class="title">@L["BaseInfo"]</span>
        <div class="descriptions-row row-cols-3" style="margin-top: 16px;">
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["ApplicationName"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.ApplicationName</span>
                </div>
            </div>
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["Url"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.Url</span>
                </div>
            </div>
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["HttpMethod"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.HttpMethod</span>
                </div>
            </div>
        </div>
        <div class="descriptions-row row-cols-3">
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["TenantName"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.TenantName</span>
                </div>
            </div>
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["UserName"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.UserName</span>
                </div>
            </div>
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["ClientIpAddress"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.ClientIpAddress</span>

                </div>
            </div>
        </div>
        <div class="descriptions-row row-cols-3">
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["ExecutionTime"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.ExecutionTime</span>
                </div>
            </div>
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["ExecutionDuration"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.ExecutionDuration</span>
                </div>
            </div>
            <div class="descriptions-item">
                <div class="descriptions-item-container">
                    <span class="descriptions-item-label">@L["HttpStatusCode"]</span>
                    <span class="descriptions-item-content">@Model.AuditLogging.HttpStatusCode</span>
                </div>
            </div>
        </div>
        <div class="descriptions-item">
            <div class="descriptions-item-container">
                <span class="descriptions-item-label">@L["BrowserInfo"]</span>
                <span class="descriptions-item-content">@Model.AuditLogging.BrowserInfo</span>
            </div>
        </div>
        <div class="descriptions-item">
            <div class="descriptions-item-container">
                <span class="descriptions-item-label">@L["Comments"]</span>
                <span class="descriptions-item-content">@Model.AuditLogging.Comments</span>
            </div>
        </div>
        <div class="descriptions-item">
            <div class="descriptions-item-container">
                <span class="descriptions-item-label">@L["Exceptions"]</span>
                <span class="descriptions-item-content">@Model.AuditLogging.Exceptions</span>
            </div>
        </div>
        <abp-card>
            <abp-card-header>@L["ActionInfo"]</abp-card-header>
            <abp-card-body>
                @foreach (var action in Model.AuditLogging.Actions)
                {
                    <div class="descriptions-row row-cols-2" style="margin-top: 16px;">
                        <div class="descriptions-item">
                            <div class="descriptions-item-container">
                                <span class="descriptions-item-label">@L["ServiceName"]</span>
                                <span class="descriptions-item-content">@action.ServiceName</span>
                            </div>
                        </div>
                        <div class="descriptions-item">
                            <div class="descriptions-item-container">
                                <span class="descriptions-item-label">@L["MethodName"]</span>
                                <span class="descriptions-item-content">@action.MethodName</span>
                            </div>
                        </div>
                    </div>
                    <div class="descriptions-row row-cols-2" style="margin-top: 16px;">
                        <div class="descriptions-item">
                            <div class="descriptions-item-container">
                                <span class="descriptions-item-label">@L["ExecutionTime"]</span>
                                <span class="descriptions-item-content">@action.ExecutionTime</span>
                            </div>
                        </div>
                        <div class="descriptions-item">
                            <div class="descriptions-item-container">
                                <span class="descriptions-item-label">@L["ExecutionDuration"]</span>
                                <span class="descriptions-item-content">@action.ExecutionDuration</span>
                            </div>
                        </div>
                    </div>
                    <div class="descriptions-item">
                        <div class="descriptions-item-container">
                            <span class="descriptions-item-label">@L["Parameters"]</span>
                            <span class="descriptions-item-content">@action.Parameters</span>
                        </div>
                    </div>
                    <br />
                }
            </abp-card-body>
        </abp-card>
    </abp-modal-body>
</abp-modal>
